<div style="background: #dfe0e1;">
    <div class="container py-1 clearfix" style="line-height: 23px;">
        <f:if condition="{f:cObject(typoscriptObjectPath : 'lib.user')} != ''">
            <div class="float-sm-left">
                <i class="fal fa-fw fa-user"></i> <strong>Angemeldet als:</strong> <f:cObject typoscriptObjectPath="lib.user" />
            </div>
        </f:if>
        <div class="float-sm-right text-muted secondnav">
            <f:cObject typoscriptObjectPath="lib.secondnav" />
        </div>
    </div>
</div>