<a href="#" id="start" class="btn btn-primary btn-block">Spielstart</a>
<a href="#" id="pause" style="display: none;" class="btn btn-secondary btn-block"><strong>P</strong>ausieren</a>

<div class="score card my-3">
    <div class="card-body text-center">
        <select class="form-control" id="startLevel">
            <option value="1">Level 1</option>
            <option value="3">Level 3</option>
            <option value="5">Level 5</option>
            <option value="7">Level 7</option>
            <option value="9">Level 9</option>
            <option value="11">Level 11</option>
            <option value="13">Level 13</option>
            <option value="15">Level 15</option>
            <option value="17">Level 17</option>
            <option value="19">Level 19</option>
            <option value="21">Level 21</option>
            <option value="23">Level 23</option>
            <option value="25">Level 25</option>
            <option value="27">Level 27</option>
            <option value="29">Level 29</option>
        </select>

        <h5 class="card-title d-none">Level <span id="level">1</span></h5>
        <p class="card-text"><span id="cleared">0</span> / 10</p>
    </div>
</div>

<div class="score card mb-3">
    <div class="card-body text-center">
        <h5 class="card-title">Punktestand</h5>
        <p class="card-text"><span id="score">0</span> Punkte</p>
    </div>
</div>

<div class="score card">
    <div class="card-body text-center">
        <h5 class="card-title">Nächster Stein</h5>
    </div>
    <table id="next" style="margin: 0 auto;">
        <tr>
            <td class="x0y0"></td>
            <td class="x1y0"></td>
            <td class="x2y0"></td>
            <td class="x3y0"></td>
            <td class="x4y0"></td>
        </tr>
        <tr>
            <td class="x0y1"></td>
            <td class="x1y1"></td>
            <td class="x2y1"></td>
            <td class="x3y1"></td>
            <td class="x4y1"></td>
        </tr>
        <tr>
            <td class="x0y2"></td>
            <td class="x1y2"></td>
            <td class="x2y2"></td>
            <td class="x3y2"></td>
            <td class="x4y2"></td>
        </tr>
        <tr>
            <td class="x0y3"></td>
            <td class="x1y3"></td>
            <td class="x2y3"></td>
            <td class="x3y3"></td>
            <td class="x4y3"></td>
        </tr>
        <tr>
            <td class="x0y4"></td>
            <td class="x1y4"></td>
            <td class="x2y4"></td>
            <td class="x3y4"></td>
            <td class="x4y4"></td>
        </tr>
        <tr>
            <td class="x0y5"></td>
            <td class="x1y5"></td>
            <td class="x2y5"></td>
            <td class="x3y5"></td>
            <td class="x4y5"></td>
        </tr>
    </table>
</div>

<div id="form">
    <f:form pageUid="{settings.highscorePage}" controller="Highscore" action="create" pluginName="highscore" object="Highscore" objectName="newHighscore" class="d-none">
        <hr>
        <label>Name:</label>
        <f:form.textfield property="name" value="{name}" class="name form-control" required="true" maxlength="15" readonly="true" />
        <label>Points:</label>
        <f:form.textfield property="points" class="points form-control" required="true" readonly="true" />
        <label>Mode:</label>
        <f:form.textfield property="mode" class="mode form-control" required="true" readonly="true" value="{mode}" />
        <strong>Steine:</strong><br>
        <label>L:</label>
        <f:form.textfield property="stoneL" class="stoneL form-control" required="true" readonly="true" value="0" />
        <label>J:</label>
        <f:form.textfield property="stoneJ" class="stoneJ form-control" required="true" readonly="true" value="0" />
        <label>I:</label>
        <f:form.textfield property="stoneI" class="stoneI form-control" required="true" readonly="true" value="0" />
        <label>O:</label>
        <f:form.textfield property="stoneO" class="stoneO form-control" required="true" readonly="true" value="0" />
        <label>S:</label>
        <f:form.textfield property="stoneS" class="stoneS form-control" required="true" readonly="true" value="0" />
        <label>Z:</label>
        <f:form.textfield property="stoneZ" class="stoneZ form-control" required="true" readonly="true" value="0" />
        <label>T:</label>
        <f:form.textfield property="stoneT" class="stoneT form-control" required="true" readonly="true" value="0" />
        <strong>Bewegungen:</strong><br>
        <label>Links:</label>
        <f:form.textfield property="keyLeft" class="keyLeft form-control" required="true" readonly="true" value="0" />
        <label>Rechts:</label>
        <f:form.textfield property="keyRight" class="keyRight form-control" required="true" readonly="true" value="0" />
        <label>Rotieren:</label>
        <f:form.textfield property="rotate" class="rotate form-control" required="true" readonly="true" value="0" />
        <strong>Spielzeit:</strong><br>
        <label>Start Time:</label>
        <f:form.textfield property="beginOfGame" class="form-control" required="true" readonly="true" value="{beginOfGame}" />
    </f:form>
</div>


<style>
    table#next td {
        border-width: 0px;
    }
    table#next.I .x2y1, table#next.I .x2y2, table#next.I .x2y3, table#next.I .x2y4 {
        background: #00f0f0;
        border-top-color: #b3fbfb;
        border-right-color: #00d8d8;
        border-bottom-color: #007878;
        border-left-color: #00d8d8;
        border-width: 3px;
    }
    table#next.O .x1y1, table#next.O .x2y1, table#next.O .x1y2, table#next.O .x2y2 {
        background: #f0f000;
        border-top-color: #fbfbb3;
        border-right-color: #d8d800;
        border-bottom-color: #787800;
        border-left-color: #d8d800;
        border-width: 3px;
    }
    table#next.L .x2y1, table#next.L .x2y2, table#next.L .x2y3, table#next.L .x3y3 {
        background: #f0a000;
        border-top-color: #fbe3b3;
        border-right-color: #d89000;
        border-bottom-color: #785000;
        border-left-color: #d89000;
        border-width: 3px;
    }
    table#next.J .x2y1, table#next.J .x2y2, table#next.J .x2y3, table#next.J .x1y3 {
        background: #0000f0;
        border-top-color: #b3b3fb;
        border-right-color: #0000d8;
        border-bottom-color: #000078;
        border-left-color: #0000d8;
        border-width: 3px;
    }
    table#next.S .x1y3, table#next.S .x2y3, table#next.S .x2y2, table#next.S .x3y2 {
        background: #00f000;
        border-top-color: #b3fbb3;
        border-right-color: #00d800;
        border-bottom-color: #007800;
        border-left-color: #00d800;
        border-width: 3px;
    }
    table#next.Z .x1y2, table#next.Z .x2y2, table#next.Z .x2y3, table#next.Z .x3y3 {
        background: #f00000;
        border-top-color: #fbb3b3;
        border-right-color: #d80000;
        border-bottom-color: #780000;
        border-left-color: #d80000;
        border-width: 3px;
    }
    table#next.T .x1y3, table#next.T .x2y3, table#next.T .x3y3, table#next.T .x2y2 {
        background: #a000f0;
        border-top-color: #e3b3fb;
        border-right-color: #9000d8;
        border-bottom-color: #500078;
        border-left-color: #9000d8;
        border-width: 3px;
    }
</style>