<div class="tx-bw-tetris">
    <div class="d-none controls">
        <span data-action="down" data-key="{controls.down}"></span>
        <span data-action="left" data-key="{controls.left}"></span>
        <span data-action="right" data-key="{controls.right}"></span>
        <span data-action="drop" data-key="{controls.drop}"></span>
        <span data-action="rotate" data-key="{controls.rotate}"></span>
    </div>


    <!-- Spiefeld und Sidebar -->
    <div style="display: flex; justify-content: center; align-items: stretch;">
        <div style="padding: 0 10px; display: flex; justify-content: center; position: relative; flex-grow: 1; position: relative;" id="playgroundContainer">
            <!-- Punkteanzeige -->
            <div id="showPoints"><div class="text"></div></div>
            <f:render section="playground" />
        </div>
        <div style="padding: 10px 30px;">
            <f:render section="sidebar" />
        </div>
    </div>

    <!-- Sounds -->
    <div class="d-none" id="music">
        <f:render partial="Static/Game/Music" />
    </div>
    <div class="d-none" id="sounds">
        <f:render partial="Static/Game/Sounds" />
    </div>

    <!-- Script -->
    <f:render section="customScript" optional="true" />
</div>
