{namespace bw=BoergenerWebdesign\BwTetris\ViewHelpers}
<f:layout name="Default" />

<f:section name="main">
    <div class="mb-5">
        <h1 class="text-center">
            Highscore
        </h1>
        <div class="row">
            <div class="col-4">
                <div class="alert alert-info" style="font-size: 0.8em;">
                    <f:render partial="Highscore/List/Modus" arguments="{_all}" />
                </div>
            </div>
            <div class="col-4">
                <div class="alert alert-info" style="font-size: 0.8em;">
                    <f:render partial="Highscore/List/FeUsers" arguments="{_all}" />
                </div>
            </div>
            <div class="col-4">
                <f:if condition="{feuser}">
                    <f:render partial="Highscore/List/GamesLeft" arguments="{gamesleft : gamesleft, currentModeLc : currentModeLc}" />
                </f:if>
            </div>
        </div>
    </div>

    <table class="table table-striped highscore">
        <thead>
        <tr>
            <th>Name</th>
            <th>Datum</th>
            <th class="text-right">Punktestand</th>
        </tr>
        </thead>
        <tbody>
        <f:for each="{scores}" as="score">
            <tr>
                <td>
                    <f:if condition="{score.feUser}">
                        <f:then>
                            {score.feUser.username}
                            <small>
                                <f:link.action action="list" arguments="{mode : currentMode, feUser: score.feUser, backlink : backlink}" title="Highscores dieses Nutzers ansehen">
                                    <i class="fal fa-fw fa-search"></i>
                                </f:link.action>
                            </small>
                        </f:then>
                        <f:else>
                            {score.name}
                        </f:else>
                    </f:if>
                </td>
                <td>
                    <f:format.date format="d.m.Y">{score.date}</f:format.date>
                </td>
                <td class="text-right">
                    <f:format.number thousandsSeparator="." decimals="0">{score.points}</f:format.number>
                </td>
            </tr>
        </f:for>
        </tbody>
    </table>

    <script>
        $('form select, form input').change(function() {
            const form = $(this).closest('form');
            form.trigger("submit");
        });
    </script>
</f:section>