
table#playground, table#next {
  td {
    height: 3.5vh;
    width: 3.5vh;
    border: 1px solid #dee2e6;
    z-index: 1;
    position: relative;
  }
}

// Spielfeld
table#playground {
  transition: transform 1s;
  border-collapse: separate;
  border-spacing: 0;
  border-color: lightgrey;
  border-style: solid;
  border-width: 10px;

  &.gameover {
    opacity: 0.5;
  }

  tr.finished {
    td.occupied {
      filter: invert(0%);
      animation: blink-animation 0.3s steps(2, start) infinite;

      @keyframes blink-animation {
        to {
          filter: invert(100%);
        }
      }
    }
  }

  tr {
    .slider {
      z-index: 2;
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      width: 1000%
    }
    td .content {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: 1;

      .img {
        height: 100%;
        width: 100%;
      }
    }
  }

  td.moving, td.occupied, tr.finished td {
    .content {
      border-style: solid;
      border-width: 3px;
    }

    &[data-type="I"] {
      .content {
        background: #00f0f0;
        border-top-color: #b3fbfb;
        border-right-color: #00d8d8;
        border-bottom-color: #007878;
        border-left-color: #00d8d8;
      }
    }
    &[data-type="J"] {
      .content {
        background: #0000f0;
        border-top-color: #b3b3fb;
        border-right-color: #0000d8;
        border-bottom-color: #000078;
        border-left-color: #0000d8;
      }
    }
    &[data-type="L"] {
      .content {
        background: #f0a000;
        border-top-color: #fbe3b3;
        border-right-color: #d89000;
        border-bottom-color: #785000;
        border-left-color: #d89000;
      }
    }
    &[data-type="O"] {
      .content {
        background: #f0f000;
        border-top-color: #fbfbb3;
        border-right-color: #d8d800;
        border-bottom-color: #787800;
        border-left-color: #d8d800;
      }
    }
    &[data-type="S"] {
      .content {
        background: #00f000;
        border-top-color: #b3fbb3;
        border-right-color: #00d800;
        border-bottom-color: #007800;
        border-left-color: #00d800;
      }
    }
    &[data-type="T"] {
      .content {
        background: #a000f0;
        border-top-color: #e3b3fb;
        border-right-color: #9000d8;
        border-bottom-color: #500078;
        border-left-color: #9000d8;
      }
    }
    &[data-type="Z"] {
      .content {
        background: #f00000;
        border-top-color: #fbb3b3;
        border-right-color: #d80000;
        border-bottom-color: #780000;
        border-left-color: #d80000;
      }
    }
  }
}

#gameover {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  justify-content: center;
  align-items: center;
  align-content: center;
  font-size: 3em;
  display: none;
}

/* Punkte anzeigen */
#showPoints {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 999;

  &.visible  {
    display: flex;

    .text {
      font-size: 5em;
      color: #000;
      text-shadow:  1px  1px 1px #FFF,
      1px -1px 1px #FFF,
      -1px  1px 1px #FFF,
      -1px -1px 1px #FFF;
      animation-name: rotate;
      animation-duration: 1s;
      animation-timing-function: linear;
      animation-iteration-count: infinite;

      @keyframes rotate {
        0%   {
          transform: rotate(-20deg);
          font-size: 3em;
          color: #000;
        }
        25%  {
        }
        50%  {
          font-size: 8em;
          color: red;
        }
        75% {
        }
        100% {
          transform: rotate(20deg);
          font-size: 3em;
          color: #000;
        }
      }
    }
  }
}

// Nächster Stein
table#next {
  td {
    border-width: 0px;
  }
  
  &.I {
    .x2y1, .x2y2, .x2y3, .x2y4 {
      background: #00f0f0;
      border-top-color: #b3fbfb;
      border-right-color: #00d8d8;
      border-bottom-color: #007878;
      border-left-color: #00d8d8;
      border-width: 3px;
    }
  }
  
  &.O {
    .x1y1, .x2y1, .x1y2, .x2y2 {
      background: #f0f000;
      border-top-color: #fbfbb3;
      border-right-color: #d8d800;
      border-bottom-color: #787800;
      border-left-color: #d8d800;
      border-width: 3px;
    }
  }
  
  &.L {
    .x2y1, .x2y2, .x2y3, .x3y3 {
      background: #f0a000;
      border-top-color: #fbe3b3;
      border-right-color: #d89000;
      border-bottom-color: #785000;
      border-left-color: #d89000;
      border-width: 3px;
    }
  }
  
  &.J {
    .x2y1, .x2y2, .x2y3, .x1y3 {
      background: #0000f0;
      border-top-color: #b3b3fb;
      border-right-color: #0000d8;
      border-bottom-color: #000078;
      border-left-color: #0000d8;
      border-width: 3px;
    }
  }
  
  &.S {
    .x1y3, .x2y3, .x2y2, .x3y2 {
      background: #00f000;
      border-top-color: #b3fbb3;
      border-right-color: #00d800;
      border-bottom-color: #007800;
      border-left-color: #00d800;
      border-width: 3px;
    }
  }
  
  &.Z {
    .x1y2, .x2y2, .x2y3, .x3y3 {
      background: #f00000;
      border-top-color: #fbb3b3;
      border-right-color: #d80000;
      border-bottom-color: #780000;
      border-left-color: #d80000;
      border-width: 3px;
    }
  }
  
  &.T {
    .x1y3, .x2y3, .x3y3, .x2y2 {
      background: #a000f0;
      border-top-color: #e3b3fb;
      border-right-color: #9000d8;
      border-bottom-color: #500078;
      border-left-color: #9000d8;
      border-width: 3px;
    }
  }
}