<table id="playground">
    <f:render partial="Fields/DefaultRow" arguments="{y : 0}" />
    <f:render partial="Fields/DefaultRow" arguments="{y : 1}" />
    <f:render partial="Fields/DefaultRow" arguments="{y : 2}" />
    <f:render partial="Fields/DefaultRow" arguments="{y : 3}" />
    <f:render partial="Fields/DefaultRow" arguments="{y : 4}" />
    <f:render partial="Fields/DefaultRow" arguments="{y : 5}" />
    <f:render partial="Fields/DefaultRow" arguments="{y : 6}" />
    <f:render partial="Fields/DefaultRow" arguments="{y : 7}" />
    <f:render partial="Fields/DefaultRow" arguments="{y : 8}" />
    <f:render partial="Fields/DefaultRow" arguments="{y : 9}" />
    <f:render partial="Fields/DefaultRow" arguments="{y : 10}" />
    <f:render partial="Fields/DefaultRow" arguments="{y : 11}" />
    <f:render partial="Fields/DefaultRow" arguments="{y : 12}" />
    <f:render partial="Fields/DefaultRow" arguments="{y : 13}" />
    <f:render partial="Fields/DefaultRow" arguments="{y : 14}" />
    <f:render partial="Fields/DefaultRow" arguments="{y : 15}" />
    <f:render partial="Fields/DefaultRow" arguments="{y : 16}" />
    <f:render partial="Fields/DefaultRow" arguments="{y : 17}" />
    <f:render partial="Fields/DefaultRow" arguments="{y : 18}" />
    <f:render partial="Fields/DefaultRow" arguments="{y : 19}" />
</table>

<div id="gameover">
    <div class="score card">
        <div class="card-body text-center">
            <h5 class="card-title">Game Over!</h5>
            <p class="card-text">So schnell vorbei?</p>
        </div>
    </div>
</div>